<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center bg-primary text-white py-2 my-2">Angular To-Do App</h2>
      <div class="input-group mt-5 d-pd">
        <input [(ngModel)]="value" type="text" class="form-control" >
        <button (click)="addWork()" class="btn btn-info fw-bold">Add Something</button>
        <div>

        </div>
      </div>
      <div class="container d-pd mt-5">
        <ul class="list-group">
          <li *ngFor="let item of DataSource; let i=index " class="list-group-item">
            <label class="fw-bold">{{item}}</label>
            <button (click)="removeWork(i)" class="btn btn-danger ms-3">X</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>